<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <title>Boolzapp</title>
    </head>
    <body>
        
        <div id="app">
            <div class="container">
                <div class="container2">
                    <!-- LEFT COLUMN -->
                    <div class="section-col-sx">
                        <div class="nav-col-sx">
                            <div class="my-profile">
                                <img src="img/avatar_1.jpg" alt="">
                            </div>
                            <div class="actions">
                                <span>
                                    <i class="fas fa-spinner"></i>
                                    <i class="fas fa-comment-alt"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </span>
                            </div>
                        </div>
                        <div class="notifications">
                            <div class="bell-square">
                                <i class="fas fa-bell-slash"></i>
                            </div>
                            <div class="notification-text">
                                <h3 class="pointer text-top">Ricevi notifiche di nuovi messaggi</h3>
                                <h3 class="pointer text-bot">Attiva notifiche desktop ></h3>
                            </div>
                        </div>
                        <div class="section-search">
                            <div class="search-bar">
                                <i class="fas fa-search"></i>
                                <input type="text" class="msg-input" placeholder="Cerca o inizia una nuova chat" @keyup.enter="contactsSearch">
                            </div>
                        </div>
                        <div class="contacts-container">
                            <div v-for="(contact, index) in contacts" class="contact" :class="(index == activeIndex) ? 'active' : ''"
                            @click="setActive(index)" v-show="contact.visible == true">
                                <div class="contact-tab">
                                    <div class="contact-img">
                                        <img :src="getContactImage(index)" :alt="contact.name">
                                    </div>
                                    <div class="contact-info">
                                        <h4>{{ contact.name }}</h4>
                                        <span> {{ getLastMessageText(index) }}</span>
                                    </div>
                                    <div class="date-msg">
                                        <span>{{ getLastMessageDate(index) }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /LEFT COLUMN -->

                    <!-- RIGHT COLUMN -->
                    <div class="section-col-dx">
                        <div class="nav-col-dx">
                            <div class="header-chat">
                                <div class="chat-img">
                                    <img :src="getContactImage(activeIndex)" alt="">
                                </div>
                                <div  class="chat-text">
                                    <h4> {{ contacts[activeIndex].name }} </h4>
                                    <span>online</span>
                                </div>
                                <div class="header-actions">
                                    <i class="fas fa-search"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                            </div>
                        </div>
                        <!-- CHAT -->
                        <div class="content">
                            <div class="wallpaper">
                                <div  v-for="message in contacts[activeIndex].messages" class="message" :class="message.status">
                                    <div class="flex-container">
                                        <span class="msg-text" >{{ message.text }}</span>
                                        <span class="msg-time"> {{ message.date }} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /CHAT -->

                        <!-- SCRITTURA MSG -->
                        <div class="insert-msg">
                            <div class="chat-buttons">
                                <i class="far fa-grin"></i>
                                <i class="fas fa-paperclip"></i>
                            </div>
                            <div class="write-text">
                                <input type="text" class="msg-input" placeholder="Scrivi un messaggio" v-model="newMessage"
                                @keyup.enter="addNewMessage">
                            </div>
                            <div class="voice-rec">
                                <i class="fas fa-microphone"></i>
                            </div>
                        </div>
                        <!-- /SCRITTURA MSG -->
                    </div>

                    
                </div>
            </div>
            
        </div>

        <script src="js/script.js"></script>
    </body>
</html>